* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 16px;
}

body {
    font-family: Calibri, Helvetica, sans-serif;
    color: #343531;
    background-color: #FAFBEF;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: #e4e9b2;
    margin: 0x;
    padding: 0x;
    position: relative;
    height: 160px;
}

nav {
    display: flex;
}

ul {
    list-style-type: none;
    width: 100%;
    text-align: right;
}

li {
    border: 20px;
    font-size: 1.3rem;
    display: inline-block;
    padding: 65px 70px 50px 0px;
}

li:hover, li:focus {
    color: #FAFBEF;
    text-shadow: 5px 5px 10px #343531;
}

li:active {
    color: #FAFBEF;
    text-shadow: none;
}

a {
    color: inherit;
    text-decoration: none;
    width: 140px;
}

h1 {
    font-size: calc(1.5rem + 2vw);
    
}

h1 {
    font-size: calc(1.5rem + 2vw);
    
}

.text-box h2 {
    font-size: 2rem;
    text-align: left;
}

.text-box {
    margin: 0x;
    padding: 50px 50px;
    background-color: #FAFBEF;
    width: 620px;
    height: 220px;
    position: absolute;
    top: 120px;
    left: 70px;
    box-shadow: 12px 12px 50px #4C6B4F;
}

.text-box p {
    font-size: 1.5em
}

@media screen and (max-width: 800px) {
    .text-box {
        position: static;
        width: 100%;
        margin: 0px; 
    }
    p {
        font-size: 1.1rem;
    }

    .textbox h1 {
        font-size: calc(1.5rem + 3vw);
    }

    .textbox h2 {
        font-size: 5rem;
    }
}

.background-picture {
    height: 800px;
    width: 100%;
    background-image: url("../images/desk-space.jpg");
    background-size: cover;
    background-position: bottom;
    display: relative;
}

.about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    background-color: #e7e08b;
    box-shadow: 0px -5px 60px #4C6B4F
}

.about-picture img {
    width: 780px;
    padding: 80px 80px;
    z-index: 1;
}

.about-text {
    background-color: #FAFBEF;
    height: 200px;
    width: 620px;
    z-index: 2;
    transform: translate(-100px);
    padding: 80px 60px;
    box-shadow: 5px -2px 50px #665E15;
}

.about-text p {
    padding: 20px 0px;
}

@media screen and (max-width: 1300px) {
    .about {
        flex-direction: column;
    }
    .about-text {
        transform: translateY(100px);
        width: 500px;
    }
}

h2 {
    text-align: center;
    line-height: 2;
    font-size: 2.5rem;
    padding: 25px 25px;
}

.portfolio {
    background-color: #AFB1A9;
    padding: 80px 40px 100px;
} 

.placeholders {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 70px 50px;
}

.placeholder1 {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    background-color: #d2e4c4;
    height: 285px;
    max-width: 1130px;
    min-width: 450px;
    position: relative;
}

.placeholder1 h3 {
    background-color: #FAFBEF;
    font-size: 1.3rem;
    text-align: center;
    font-family: Courier New, monospace;
    font-weight: lighter;
    padding: 18px;
    height: 18%;
    width: 60%;
    position: absolute;
    top: 86%;
    left: 20%;
}

.placeholder2 {
    display: flex;
   
    flex-wrap: wrap;
    flex: 0 0 50%;
    background-color: #e4e9b2;
    height: 285px;
    max-width: 545px;
    min-width: 450px;
    position: relative;
}

.placeholder2 h3 {
    background-color: #FAFBEF;
    font-size: 1.3rem;
    text-align: center;
    font-family: Courier New, monospace;
    font-weight: lighter;
    padding: 18px;
    height: 18%;
    width: 60%;
    position: absolute;
    top: 86%;
    left: 21%;
}

.placeholder3 {
    display: flex;

    flex-wrap: wrap;
    flex: 0 0 50%;
    background-color: #e7e08b;
    height: 285px;
    max-width: 545px;
    min-width: 450px;
    position: relative;
}

.placeholder3 h3 {
    background-color: #FAFBEF;
    font-size: 1.3rem;
    text-align: center;
    font-family: Courier New, monospace;
    font-weight: lighter;
    padding: 18px;
    height: 55px;
    width: 300px;
    position: absolute;
    top: 86%;
    left: 23%;
}

.placeholder4 {
    display: flex;
  
    flex-wrap: wrap;
    flex: 0 0 50%;
    background-color: #b5cbb7;
    height: 285px;
    max-width: 545px;
    min-width: 400px;
    position: relative;
}

.placeholder4 h3 {
    background-color: #FAFBEF;
    font-size: 1.3rem;
    text-align: center;
    font-family: Courier New, monospace;
    font-weight: lighter;
    padding: 18px;
    height: 55px;
    width: 300px;
    position: absolute;
    top: 86%;
    left: 23%;
}

.placeholder5 {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 50%;
    background-color: #d2e4c4;
    height: 285px;
    max-width: 545px;
    min-width: 500px;
    position: relative;
}

.placeholder5 h3 {
    background-color: #FAFBEF;
    font-size: 1.3rem;
    text-align: center;
    font-family: Courier New, monospace;
    font-weight: lighter;
    padding: 18px;
    height: 55px;
    width: 300px;
    position: absolute;
    top: 86%;
    left: 23%;
}

form input, textarea {
    background-color: #FAFBEF;
}