* {
    margin: 0px;
    padding: 0px;
    font-family: "spartan", sans-serif;
}

:root {
    --darkgray: rgba(51,51,51,1);
    --lightest: #ebe6e1;
    --lighter: #ede0d4;
    --light: #ddb892;
    --medium: #ddb892;
    --dark: #b08968;
    --darker: #9c6644;
    --darkest: #7f5539;
}

body {
    padding: 0px 20px;
    color: var(--darkgray);
    background-color: var(--lightest);
}

header {
    background-color: var(--lightest);
    height: 5vh;
}

.navbar {
    background-color: var(--lightest);
    padding-left: 0px;
}

li {
    font-size: 1.3rem;
    display: block;
    padding: 20px;
}

a {
    color: inherit;
}

.hover-light:hover {
    color: var(--white);
}

h1 {
    font-size: 2.5rem;
    font-family: "spartan", sans-serif;
    line-height: 1.8;
    color: black;
   
}

h2, h3 {
    font-family: "Oswald", sans-serif;
    letter-spacing: .1em;
    text-transform: uppercase;
    line-height: 1.6;
    color: var(--darkgray);
}

.spartan {
    font-family: "spartan", sans-serif;
    text-transform: none;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    line-height: 1.5;
    font-size: 1rem;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

/* Introductory statement at the top of the page */
.intro {
    min-height: 95vh;
    width: 100%;
    background-color: var(--lightest);
    padding: 40px 50px 40px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.arrow {
    writing-mode: vertical-rl;
    transform: rotate(.25turn);
    color: var(--dark);
    height: 130px;
    font-size: 13px;
    position: absolute;
    right: 5px;
    bottom: 45px;
    animation-name: bounce;
    animation-duration: 2.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-50px);
    } 

    90% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* About me page */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightest);
    min-height: 150vh;
    flex-direction: column;
}

.about h2 {
    padding-bottom: 10px;
}

.about img {
    width: 80vw;
    margin: 0px 0px -20px;
    z-index: 1;
    transform: translateY(150px);
}

.about-text {
    padding: 200px 50px 50px 50px;
    background-color: white;
}

.link {
    text-decoration: underline;
    text-decoration-color: var(--medium);
}

.portfolio {
    min-height: 100vh;
    padding-top: 100px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
}

.portfolio h1 {
    font-size: 35px;
}

.portfolio h2 {
    text-align: center;
    padding-bottom: 50px;
}

.jumbo-custom {
    background-color: white;
    /* min-height: 70vh; */
    width: 80vw;
    transform: translateY(-50px);
    /* padding: 20px; */
}

.padding {
    padding: 0px 20px 0px 20px;
}

.small-text {
    font-size: 11px; 
}

.portfolio h3 {
    font-size: 1.8rem;
}

.portfolio-card {
    background-color: var(--lightest);
    box-shadow: none;
    text-align: center;
}

.hover-border:hover {
    border: 1px solid var(--white);
}

.img-custom {
    height: 200px;
    object-fit: cover;
    object-position: 0 70%;
    margin-bottom: 20px;
}

.contact-me {
    padding: 50px 0px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.contact-info {
    background-color: white;
    padding: 30px;
    transform: translateY(80px);
    width: 80vw;
    max-width: max-content;
}

.contact-info h2 {
    padding-bottom: 20px;
}

footer {
    padding: 50px;
    text-align: center;
}

.icon {
    color: var(--light);
    padding-right: 10px;
}

.large {
    font-size: 35px;
    margin: 15px 30px 15px 0px;
}

.large:hover{
    color: var(--lightest);
}

#scrollBtn {
    position: fixed;
    text-transform: uppercase;
    right: -20px;
    bottom: 120px;
    z-index: 100;
    transform: rotate(.25turn);
    font-size: 12px;
}

#scrollBtn:hover {
    color: var(--dark);
}

.hide {
    display: none;
}

@media screen and (min-width: 720px) {
    h1 {
        font-size: 3rem;
    }

    nav {
        height: 150px;
    }

    .navbar {
        padding-left: 35px;
    }

    .intro {
        padding: 50px 40px;
    }

    .arrow {
        bottom: 40px;
        right: 40px;
    }

    .custom-button {
        border: 1px solid white;
        border-radius: 4px;
    }
    
    .custom-button:hover {
        background-color: rgb(244, 241, 237);
    }

   .about img {
        width: 100%;
        max-width: 450px;
        height: auto;
    }

    .about-text p {
        font-size: 1.2rem;
    }

    .portfolio {
        margin-top: 30px;
    }

    .jumbo-custom {
        margin: 100px 0px 0px 0px; 
        padding: 50px 50px 150px 50px;
    }
    .project {
        flex-direction: column-reverse;
    }
    
    #featured-img {
        max-width: 400px;
        transform: translateY(-190px);
        align-self: flex-end;
        z-index: 2;
        padding-right: 50px;
    }

    .contact-me {
        flex-direction: row;
        padding-top: 150px;
    }

    .contact-me img {
        width: 100%;
        max-width: 60vw;
        height: 100vh;
        object-fit: cover;
        object-position: 0 70%;
    }

    .contact-info {
        padding: 100px;
        max-width: max-content;
        transform: translateX(-150px);
    }

    #scrollBtn {
        font-size: inherit;
    }
}


@media screen and (min-width: 992px) {
    .about {
        flex-direction: row;
        justify-content: end;
        align-items: center;
        padding: 100px 0px;
    }
    
    .about-text {
        width: 60vw;
        min-height: 800px;
        padding: 200px 150px 300px 200px;
    }

    .about-picture img {
        margin: 0px;
        transform: translateX(120px);
        z-index: 2;
    }

    .jumbo-custom {
        align-self: flex-start;
    }

    #featured-img {
        max-width: 700px;
        transform: translateY(-230px);
    }
}