* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Calibri, Helvetica, sans-serif;
    color: #343531;
    background-color: #FAFBEF;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: #e4e9b2;
    margin: 0x;
    padding: 0x;
    position: relative;
    height: 160px;
}

h1 {
    font-size: 3em;
    
}

h2 {
    font-size: 2em;
}

form input, textarea {
    background-color: #FAFBEF;
}

nav {
    display: flex;
}

ul {
    list-style-type: none;
    width: 100%;
    text-align: right;
}

li {
    border: 20px;
    font-size: 1.3em;
    display: inline-block;
    padding: 65px 70px 50px 0px;
}

a {
    color: inherit;
    text-decoration: none;
    width: 140px;

}

p {
    font-size: 18px;
}

.text-box {
    margin: 0x;
    padding: 50px 50px;
    background-color: #FAFBEF;
    width: 620px;
    height: 220px;
    position: absolute;
    top: 120px;
    left: 70px;
}

.text-box p {
    font-size: 1.5em
}

.background-picture {
    height: 800px;
    width: 100%;
    background-image: url("../images/desk-space.jpg");
    background-size: cover;
    background-position: bottom;
    display: relative;
}

@media screen and (max-width: 800px) {
    .text-box {
        position: static;
        width: 100%;
        margin: 0px; 
    }

    .textbox h1 {
        font-size: calc(1.5rem + 3vw);
    }

    .textbox h2 {
        font-size: 2vw;
    }
}

.about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 150px 0px;
    background-color: #e7e08b;
}

.about-picture img {
    width: 780px;
    padding: 80px 60px;
    z-index: 1;
}

.about-text {
    background-color: #FAFBEF;
    height: 200px;
    width: 620px;
    z-index: 2;
    transform: translate(-100px);
    padding: 80px 60px;
}

.about-text p {
    padding: 20px 0px;
}

@media screen and (max-width: 1300px) {
    .about {
        flex-direction: column;
    }
    .about-text {
        transform: translateY(100px);
    }
}